.tabs{
  padding: 50px;
}

.nav {
  overflow: hidden;
}
.nav li{
  float: left;
  width: 20%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.nav li.active{
  background: #62ab00;
  color: #fff;
  border-radius: 4px;
}
.tabs>div{
  padding: 30px;
  text-align: center;
  font-size: 3rem;
  background: #fff;
}
.tips{
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}
